[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
dnspython = "*"
numpy = "*"
nltk = "*"
tensorflow = "*"
speechrecognition = "*"
pyttsx3 = "*"
pywhatkit = "*"
wikipedia = "*"
pyjokes = "*"
pyaudio = {file = "https://download.lfd.uci.edu/pythonlibs/archived/PyAudio-0.2.11-cp310-cp310-win_amd64.whl"}
google-cloud-speech = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
